
[Unit]
Description=Core Drop App

[Service]
Type=simple

User=drop-core
Group=drop-core

EnvironmentFile=/etc/drop-env

ExecStart=/opt/drop-core/scripts/drop-core start
ExecStop=
KillMode=process
KillSignal=SIGKILL

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
